# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientist use are:
1. Python
2. R
3. Ruby
4. C++
5. Java
6. Scala
7. Spyder
8. Javascript etc.

Some of the commonly used libraries used by Data Scientists include:
1. matplotlib
2. panda
3. seaborn
4. numbpy
5. scikit-learn
6. keras
7. tensorflow
8. pytorch
9. apache spark

|Data Science Tools|
|:----------------:|
|MySQL|
|PostgreSQL|
|MongolDB|

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
(3*4)+5
# This a simple arithmetic expression to mutiply 
# then add integers

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

def mihrs(x):
    hours = int(x/60)
    print(hours)

mihrs(200)

3

__Objective__
- Examples Of Functions evaluating arithmethic expressions.
- Examples Of Data Science tools
- Examples Of Data Science Libraries
- Overall outlook on the data science eco-systen.

## Author
Paul Osuji